<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Contract - Jangkau</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            text-align: center;
        }

        main {
            padding: 20px;
        }

        section {
            background-color: white;
            margin-bottom: 20px;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            color: #333;
        }

        h3 {
            color: #555;
        }

        pre {
            background-color: #f4f4f4;
            border: 1px solid #ddd;
            padding: 10px;
            border-radius: 5px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

    </style>
</head>
<body>
<header>
    <h1>API Contract - Jangkau</h1>
    <p><strong>Base Url : https://tense-margy-jangkau-a8ec8afe.koyeb.app/</strong></p>
</header>
<main>
    <section id="register">
        <h2>/api/auth/register</h2>
        <h3>POST</h3>
        <p>Summary: Mendaftarkan pengguna baru</p>
        <p>Request Body:
        <pre><code>{
  "username" : "Johndoe123456",
  "email_address" : "jhondeo@mail.com",
  "password" : "Passw0rd123!",
  "full_name" : "John Doe",
  "phone_number" : "08223456766567"
}</code></pre>
        </p>
        <p>Responses:
        <ul>
            <li>200: Registrasi Berhasil!
                <pre><code>{
    "created_date": "2024-07-24T11:49:58.963+00:00",
    "deleted_date": null,
    "updated_date": "2024-07-24T11:49:58.963+00:00",
    "id": "1befb9cc-5d9f-4c05-ab27-544cff1a1728",
    "username": "Johndoe123456",
    "email_address": "jhondeo@mail.com",
    "full_name": "John Doe",
    "phone_number": "08223456766567",
    "otp": null,
    "otp_expired_date": null,
    "roles": [],
    "saved_accounts": null,
    "authorities": []
  }</code></pre>
            </li>
            <li>400: Bad Request</li>
        </ul>
        </p>
    </section>
    <section id="auth-login">
        <h2>/api/auth/login</h2>
        <h3>POST</h3>
        <p>Summary: Melakukan login</p>
        <p>Description: Untuk masuk ke dalam sistem</p>
        <p>Request Body:
        <pre><code>{
  "username": "johndoe123",
  "password": "Johndoe123!"
}</code></pre>
        </p>
        <p>Responses:
        <ul>
            <li>200: Login Berhasil!
                <pre><code>{
  "user_id": "718f3f56-ca1a-47c2-af15-e8c933d34add",
  "account_number": "409196498716",
  "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
  "token_type": "bearer",
  "expires_in": 28799,
  "scope": "read writ",
  "jti": "frBzLJX9CQ14QG_vDEXQB20AoWw"
}</code></pre>
            </li>
            <li>400: Bad Request</li>
        </ul>
        </p>
    </section>
    <section id="refresh-token">
        <h2>/api/refresh-token</h2>
        <h3>GET</h3>
        <p>Summary: Mengambil akses token baru menggunakan refresh token</p>
        <p>Request Param:
        <pre><code>
  "refresh_token": "refresh token user"</code></pre>
        </p>
        <p>Responses:
        <ul>
            <li>200: Token berhasil di-refresh.
                <pre><code>{
  "access_token": "newAccessToken",
  "token_type": "bearer",
  "refresh_token": "newRefreshToken",
  "expires_in": 28799,
  "scope": "read write",
  "jti": "newJti"
}</code></pre>
            </li>
            <li>400: Bad Request</li>
        </ul>
        </p>
    </section>
    <section id="forgot-password">
        <h2>/api/auth/password</h2>
        <h3>POST</h3>
        <p>Summary: Mengirim email untuk reset password</p>
        <p>Request Body:
        <pre><code>{
  "email_address": "johndoe@example.com"
}</code></pre>
        </p>
        <p>Responses:
        <ul>
            <li>200: Email untuk reset password berhasil dikirim
                <pre><code>{
  "code": 200,
  "message": "Success Send OTP Forget Password",
  "status": true,
  "data": "Thanks, please check your email for activation."
}</code></pre>
            </li>
            <li>400: Bad Request</li>
        </ul>
        </p>
    </section>
    <section id="verify-otp">
        <h2>/api/auth/password/otp</h2>
        <h3>POST</h3>
        <p>Summary: Verifikasi OTP untuk reset password</p>
        <p>Request Body:
        <pre><code>{
  "otp": "123456"
}</code></pre>
        </p>
        <p>Responses:
        <ul>
            <li>200: OTP berhasil diverifikasi
                <pre><code>{
  "code": 200,
  "message": "Success Validate OTP",
  "status": true,
  "data": "Success, Please Change New Password!"
}</code></pre>
            </li>
            <li>400: Bad Request</li>
        </ul>
        </p>
    </section>
    <section id="reset-password">
        <h2>/api/auth/password/reset</h2>
        <h3>PUT</h3>
        <p>Summary: Reset password</p>
        <p>Request Body:
        <pre><code>{
  "email_address": "johndoe@example.com",
  "otp": "123456",
  "newPassword": "NewPassword123!"
}</code></pre>
        </p>
        <p>Responses:
        <ul>
            <li>200: Password berhasil direset
                <pre><code>{
  "code": 200,
  "message": "Success Reset Password",
  "status": true,
  "data": "Success Reset Password, Please login with your new password!"
}</code></pre>
            </li>
            <li>400: Bad Request</li>
        </ul>
        </p>
    </section>

<!--    <section id="logout">-->
<!--        <h2>/api/auth/logout</h2>-->
<!--        <h3>POST</h3>-->
<!--        <p>Summary: Menghapus refresh token dari cookies dan logout pengguna</p>-->
<!--        <p>Description: Endpoint ini akan menghapus refresh token dari cookies untuk melakukan logout.</p>-->
<!--        <p>Request Headers:-->
<!--        <pre><code>{-->
<!--  "Content-Type": "application/json"-->
<!--}</code></pre>-->
<!--        </p>-->
<!--        <p>Responses:-->
<!--        <ul>-->
<!--            <li>200: Logout Berhasil!-->
<!--                <pre><code>{-->
<!--  "status": "success",-->
<!--  "message": "Logged out successfully"-->
<!--}</code></pre>-->
<!--            </li>-->
<!--            <li>401: Unauthorized (jika sesi tidak valid atau pengguna tidak terautentikasi)</li>-->
<!--        </ul>-->
<!--        </p>-->
<!--    </section>-->

    <section id="bank-accounts-pin-validation">
        <h2>/api/bank-accounts/pin-validation</h2>
        <h3>POST</h3>
        <p>Summary: Melakukan validasi pin</p>
        <p>Description: Data pengguna baru yang akan ditambahkan.</p>
        <p>Request Body:
        <pre><code>{
  "account_number": "8923445590",
  "pin": "456734"
}</code></pre>
        </p>
        <p>Responses:
        <ul>
            <li>200: Validasi Berhasil!
                <pre><code>{
  "account_id": "45227600-27d1-45e7-ab80-31755f5737b0",
  "owner_name": "John Doe",
  "account_number": "401897694139",
  "balance": 990876
}</code></pre>
            </li>
            <li>400: Bad Request</li>
        </ul>
        </p>
    </section>

    <section id="user-id">
        <h2>/api/users/{id}</h2>
        <h3>GET</h3>
        <p>Summary: Mendapatkan informasi user berdasarkan ID</p>
        <p>Parameters:
        <pre><code>{
  "id": "string"
}</code></pre>
        </p>
        <p>Responses:
        <ul>
            <li>200: User ditemukan.
                <pre><code>{
  "user_id": "45227600-27d1-45e7-ab80-31755f5737b0",
  "username": "johndoe123",
  "email_address": "johndoe@example.com",
  "fullname": "John Doe",
  "phone_number": "08223456766567"
}</code></pre>
            </li>
            <li>404: User tidak ditemukan</li>
        </ul>
        </p>
    </section>

    <section id="bank-accounts">
        <h2>/api/bank-accounts</h2>
        <h3>GET</h3>
        <p>Summary: Mendapatkan daftar semua bank account</p>
        <p>Responses:
        <ul>
            <li>200: Daftar pengguna berhasil diambil.
                <pre><code>[
  {
    "account_id": "45227600-27d1-45e7-ab80-31755f5737b0",
    "owner_name": "John Doe",
    "account_number": "8923445590",
    "balance": 5450567
  }
]</code></pre>
            </li>
        </ul>
        </p>
    </section>

    <section id="bank-accounts-user-id">
        <h2>/api/bank-accounts/user/{user_id}</h2>
        <p>Summary: Mendapatkan informasi bank account user berdasarkan User ID</p>
        <p>Parameters:
        <pre><code>{
  "user_id": "string"
}</code></pre>
        </p>
        <p>Responses:
        <ul>
            <li>200: Bank Account ditemukan.
                <pre><code>{
  "account_id": "45227600-27d1-45e7-ab80-31755f5737b0",
  "owner_name": "John Doe",
  "account_number": "8923445590",
  "balance": 5450567
}</code></pre>
            </li>
            <li>404: Bank Account tidak ditemukan</li>
        </ul>
        </p>
    </section>

    <section id="bank-accounts-account-number">
        <h2>/api/bank-accounts/account/{account_number}</h2>
        <h3>GET</h3>
        <p>Summary: Mendapatkan informasi bank account user berdasarkan nomor rekening</p>
        <p>Parameters:
        <pre><code>{
  "account_number": "string"
}</code></pre>
        </p>
        <p>Responses:
        <ul>
            <li>200: Bank Account ditemukan.
                <pre><code>{
  "account_id": "45227600-27d1-45e7-ab80-31755f5737b0",
  "owner_name": "John Doe",
  "account_number": "8923445590",
  "balance": 5450567
}</code></pre>
            </li>
            <li>404: Bank Account tidak ditemukan</li>
        </ul>
        </p>
    </section>

    <section id="transactions">
        <h2>/api/transactions</h2>
        <h3>POST</h3>
        <p>Summary: Melakukan transfer</p>
        <p>Request Body:
        <pre><code>{
  "account_id": "8923445590",
  "beneficiary_account": "8923445589",
  "amount": 540000,
  "transaction_date": "2024-07-12 08:26:37",
  "note": "Uang kos",
  "saved": false
}</code></pre>
        </p>
        <p>Responses:
        <ul>
            <li>200: Transaksi Berhasil!
                <pre><code>{
  "transaction_id": "47827600-27d1-45e7-ab80-31755f5737b0",
  "account_id": "90227600-27d1-45e7-ab80-31755f5737b0",
  "beneficiary_account": "87227600-27d1-45e7-ab80-31755f5737b0",
  "amount": 540000,
  "admin_fee": 0,
  "transaction_date": "2024-07-12 08:26:37",
  "note": "Uang kos",
  "total": 540000
}</code></pre>
            </li>
            <li>400: Bad Request</li>
        </ul>
        </p>
    </section>

    <section id="transaction-id">
        <h2>/api/transaction/{transaction_id}</h2>
        <h3>GET</h3>
        <p>Summary: Mendapatkan informasi transaksi berdasarkan Transaction ID</p>
        <p>Parameters:
        <pre><code>{
  "transaction_id": "string"
}</code></pre>
        </p>
        <p>Responses:
        <ul>
            <li>200: Transaksi ditemukan.
                <pre><code>{
  "transaction_id": "47827600-27d1-45e7-ab80-31755f5737b0",
  "account_id": "90227600-27d1-45e7-ab80-31755f5737b0",
  "beneficiary_account": "87227600-27d1-45e7-ab80-31755f5737b0",
  "amount": 540000,
  "admin_fee": 0,
  "transaction_date": "2024-07-12 08:26:37",
  "note": "Uang kos",
  "total": 540000
}</code></pre>
            </li>
            <li>404: Transaksi tidak ditemukan</li>
        </ul>
        </p>
    </section>

    <section id="transactions-history">
        <h2>/api/transactions/history/{user_id}</h2>
        <h3>POST</h3>
        <p>Summary: Mendapatkan riwayat transaksi pengguna dalam rentang tanggal tertentu</p>
        <p>Description: Endpoint ini mengembalikan daftar transaksi untuk pengguna tertentu dalam rentang tanggal yang diberikan.</p>
        <p>Request Body:
        <pre><code>{
  "start_date": "2024-07-15",
  "end_date": "2024-07-19"
}</code></pre>
        </p>
        <p>Responses:
        <ul>
            <li>200: Riwayat transaksi berhasil diambil.
                <pre><code>{
  "data": [
    {
      "transaction_id": "bf3ac8f8-0ca6-4f0c-9790-a3f720c5cde9",
      "from": {
        "account_id": "181e6c04-b48f-477a-b8d0-662bc0e675ba",
        "owner_name": "John Doe",
        "account_number": "408006321246"
      },
      "to": {
        "account_id": "92046e5c-3b07-4327-8459-0858175c53ab",
        "owner_name": "user",
        "account_number": "401191607926"
      },
      "transaction_date": "2024-07-15T15:05:14.293+00:00",
      "total": 100000.0,
      "type": "Pengeluaran"
    },
    {
      "transaction_id": "1046e5e4-03fd-4944-95c0-04c70ee658d4",
      "from": {
        "account_id": "181e6c04-b48f-477a-b8d0-662bc0e675ba",
        "owner_name": "John Doe",
        "account_number": "408006321246"
      },
      "to": {
        "account_id": "92046e5c-3b07-4327-8459-0858175c53ab",
        "owner_name": "user",
        "account_number": "401191607926"
      },
      "transaction_date": "2024-07-15T15:05:14.293+00:00",
      "total": 100000.0,
      "type": "Pengeluaran"
    }
  ],
  "status": "success"
}</code></pre>
            </li>
            <li>400: Bad Request (jika parameter tidak valid)</li>
            <li>404: Tidak ada transaksi ditemukan untuk rentang tanggal yang diberikan</li>
        </ul>
        </p>
    </section>

    <section id="saved-accounts">
        <h2>/api/saved-accounts/{user-id}</h2>
        <h3>GET</h3>
        <p>Summary: Mendapatkan daftar semua bank account yang disimpan</p>
        <p>Parameters:
        <pre><code>{
  "user-id": "string"
}</code></pre>
        </p>
        <p>Responses:
        <ul>
            <li>200: Data berhasil diambil.
                <pre><code>[
  {
    "saved_account_id": "45227600-27d1-45e7-ab80-31755f5737b0",
    "owner_name": "John Doe",
    "account_number": "8923445590"
  }
]</code></pre>
            </li>
        </ul>
        </p>
    </section>
</main>
</body>
</html>
